<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Анализ комментариев сети</title>
  <style>
   .column {
    -webkit-column-width: 300px;
    -moz-column-width: 300px;
    column-width: 300px;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    -webkit-column-rule: 1px solid #ccc;
    -moz-column-rule: 1px solid #ccc;
    column-rule: 1px solid #ccc;
   }
  </style>
 </head>
 <body>
  <div style="float: left; width: 49%;"><h2>Проект в сфере компьютерной обработки естественного языка</h2><p style="font-size:120%;">

Данный ресурс является началом проекта по интеллектуальному анализу текстов, комментариев, твитов и постов в интернете на основе машинного обучения.<br>
Первой тематикой проекта выбрана оправданность комментариев, ожиданий частных инвесторов в отношении капитализации компании, ее роста и будущего положения на рынке. В качестве целевой компании выбран Сбер как один из наиболее обсуждаемых бизнесов на просторах Рунета.<br>
<br>
Нейросетевой алгоритм сервера, изучив комментарии пользователей интернет-форумов за последние несколько лет, нашел для себя оптимальный способ определять связь между двумя показателями:<br>
 - настрой, тональность обсуждений Сбера в ожидании роста или падения капитализации;<br>
 - фактическое изменение капитализации Сбера в среднесрочной перспективе.<br>
<br>
Таблица показывает ежедневную работу алгоритма за последний месяц, где в динамическом режиме обновляется превалирующая суть обсуждений (kernel - суть, ядро):<br>

<br>
- 0 - все плохо, Сбер будет ухудшать свои позиции на рынке;<br>
- 1 - ситуация выжидательной неопределенности;<br>
- 2 - надо инвестировать, Сбер нешуточно вырастет.<br>
<br>
На самом деле алгоритм выбрал 30 тем как суть обсуждений, но все они сводятся в итоге к трем посылам (метки 0,1,2 в таблице): все плохо, все стабильно, будет еще лучше. У Сбера.<br>

На данный момент ведется работа над более актуальной для россиян тематикой - связь между обсуждением доллара и последующим изменением курса данной валюты.<br>




	  </p><p style="font-size:120%;"><i>Исходный код проекта - https://github.com/AzamatGainullin/commentskernel_prod.git</i>
 </p> </div>
  <div style="float: right; width: 49%;">{% block content %}{% endblock %}  </div><div class="clear">
 </body>
</html>
